
body {
  font-family: Arial, sans-serif;
  background-color:rgba(0, 255, 162, 0.552);
  margin: 0;
  padding: 0;
}

h1 {
  text-align: center;
  margin-top: 30px;
}

#guess-input {
  display: block;
  margin: 0 auto 20px;
  padding: 10px;
  font-size: 18px;
  width: 250px;
  border: 1px solid #ccc;
}

#guess-button {
  display: block;
  margin: 0 auto;
  padding: 10px 20px;
  font-size: 18px;
  background-color: #0CBABA;
  color: #fff;
  border: none;
  border-radius: 3px;
}

button:active {
  transform: scale(0.95);
}

.letter {
  border: 1px solid black;
  padding: 5px;
  margin: 5px;
  min-width: 20px;
  text-align: center;
  display: inline-block;
  background-color: #fff;
}

.row {
  margin-bottom: 10px;
}

#guesses {
  text-align: center;
  font-size: 18px;
  margin-top: 20px;
}

.error-message {
  color: red;
  font-size: 14px;
  text-align: center;
  margin-top: 5px;
}
